$break-small: 400px;
$break-large: 1025px;

.planeIcon {
    margin: auto; 
    fill: none;
    height: 56px;
}

.card:hover {
    cursor: pointer;
    .planeIcon {
        margin: auto; 
        fill: none;
        height: 56px;
        filter: invert(36%) sepia(49%) saturate(7105%) hue-rotate(141deg) brightness(94%) contrast(102%);
    }
}