$break-small: 400px;
$break-large: 1025px;

.formBox {
    margin: auto;
    width: 72%;
    height: 45vh;
    background-color: white;
    padding: 40px 40px 32px 40px;
    border-radius: 4px;
    position: relative;
    transition: all 200ms linear 0s;
    -moz-box-shadow: 0px 3px 7px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 3px 7px rgba(0,0,0,0.1);
    box-shadow: 0px 3px 7px rgba(0,0,0,0.1);
    overflow: hidden;
    @media screen and (max-width: $break-large) {
        width: 100%;
        padding: 0;
        height: 100vh;
    }
}

.background {
    margin-top: 20px !important;
    height: 0vh;
}

.svgIcon {
    padding: 40px 0px 40px 0px;
    margin: auto; 
    fill: none;
}

.title {
    text-align: center;
    padding-top: 32px !important;
    padding-bottom: 24px;
    font-family: lato;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #404348;
    margin-bottom: 0px !important;
}

.cardFooter {
    text-align: center;
    background-color: white;
    color: #404348;
    font-size: 16px;
    line-height: 24px;
    font-family: lato;
    border-top: 1px solid #f2f2f2;
    border-radius: 0px 0px 4px 4px !important;
    padding: 12px 8px 13px;
}

 .card-deck {
     margin: -4px !important;
     -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
     @media screen and (max-width: $break-large) {
        display: grid;
        grid-gap: .5rem;
        grid-template-columns: 1fr 1fr;
    }
}

.card:hover {
    cursor: pointer;
    box-shadow: 0px 2px 18px rgba(23,33,52,0.2);
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    -o-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
    .svgIcon {
        padding: 40px 0px 40px 0px;
        margin: auto;
        filter: invert(36%) sepia(49%) saturate(7105%) hue-rotate(141deg) brightness(94%) contrast(102%);
    }
}

.card {
    margin: 4px !important;
    border-radius: 4px;
    border-width: 0px;

    min-height: 210px;
    max-height: 220px;

    box-shadow: 0px 1px 4px rgba(23,33,52,0.3);
    @media screen and (max-width: $break-large) {
        // min-height: 0;
        // max-height: 0;        
    }
}

.card-body {
    display: flex;
    margin: auto !important;
    align-content: center !important;
    @media screen and (max-width: $break-large) {
    }
}

.progress-bar {
    height: 8px;
    @media screen and (max-width: $break-large) {
        top: 10px;
    }
}

.progress {
    height: 8px;
    @media screen and (max-width: $break-large) {
        top: 10px;
    }
}

.cardPosition {    
    @media screen and (max-width: $break-large) {
        padding: 0px 24px 10px 24px;
    }
}

@-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(500px);
              transform: translateX(500px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(500px);
              transform: translateX(500px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
