$break-small: 400px;
$break-large: 1025px;

.pickerIcon {
    height: 98px;
    top: 28px;
    left: 26px;
    position: relative;
    margin: auto;
}

.card:hover {
    cursor: pointer;
    .pickerIcon {
        height: 98px;
        top: 28px;
        left: 26px;
        position: relative;
        margin: auto;
        filter: invert(36%) sepia(49%) saturate(7105%) hue-rotate(141deg) brightness(94%) contrast(102%);
        
    }
}