$break-small: 400px;
$break-large: 1025px;

.formBoxWithButton {
    margin: auto;
    width: 70%;
    background-color: white;
    border: 1px solid #eaeaea;
    padding: 48px 48px 78px 48px ;
    margin-bottom: 20px;
    border-radius: 4px;
    position: relative;
    @media screen and (max-width: $break-large) {
        width: 100%;
        padding: 0;
    }

}

.addSpan {
    margin: auto !important;
}


.background {
    margin-top: 30px;
    height: 0vh;
    
}

.counter {
    font-size: 25px;
    margin: auto;
    padding: 20px 20px 10px 20px;
    vertical-align: bottom;
    @media screen and (max-width: $break-large) {
        padding: 20px 10px 10px 10px;
    }
}

.add-button {
    padding: 10px !important;
    background-color: white !important;
    border: 1px solid #eaeaea !important;
    border-radius: 4px;
    color: green !important;
}

.title {
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
    size: 12px;
}

.stepButton {
    margin-top: 20px !important;
    padding: 15px 25px 15px 25px !important; 
    float: right;
    
}