$break-small: 400px;
$break-large: 1025px;

.textArea {
    display: inline-block;
    vertical-align: top;
    padding-top: 25%;
    width: 50vw;
    -webkit-filter: grayscale(40%);
    height: 100vh;
    background-image: url('../../../images/ai-petri-mountain-bridge-wallpaper.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    @media screen and (max-width: $break-large) {
      padding-top: 10%;
      padding-left: 5%;
      padding-right: 5%;
      height: 30vh;
      width: 100vw;
  }
}

.formArea {
    padding: 100px 48px 48px 48px;
    display: inline-block;
    width: 50vw;
    height: 100vh;
    text-align: center;
    background-color: white; 

    @media screen and (max-width: $break-large) {
      padding: 20px;
      margin: auto;
      height: 50vh;
      width: 100vw;
  }
}

.inputGroup {
    background-color: #fff;
    display: inline-block;
    margin: 10px 0;
    @media screen and (max-width: $break-large) {
      width: 40%;
      margin: 10px 0;
    }

    label {
      padding: 12px 100px;
      width: 100%;
      display: block;
      text-align: left;
      color: #3C454C;
      cursor: pointer;
      position: relative;
      z-index: 2;
      transition: color 200ms ease-in;
      overflow: hidden;

      &:before {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        content: '';
        // background-color: #5562eb;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale3d(1, 1, 1);
        transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
        opacity: 0;
        z-index: -1;
      }

      &:after {
        width: 32px;
        height: 32px;
        content: '';
        border: 2px solid #D1D7DC;
        background-color: #fff;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
        background-repeat: no-repeat;
        background-position: 2px 3px;
        border-radius: 50%;
        z-index: 2;
        position: absolute;
        left: 30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 200ms ease-in;
      }
    }

    input:checked ~ label {
    //   color: #fff;

      &:before {
        transform: translate(-50%, -50%) scale3d(56, 56, 1);
        opacity: 1;
      }

      &:after {
        background-color: #17ac61;
        border-color: #17ac61;
      }
    }

    input {
      width: 32px;
      height: 32px;
      order: 1;
      z-index: 2;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      visibility: hidden;
    }
  }

.form {
  padding: 0 16px;
  max-width: 550px;
  margin: 50px auto;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.radio-buttons {
    display: inline-block;
    @media screen and (max-width: $break-large) {
      display: flex;
      margin-top: 10px;
  }
}

.whoText {
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 20px;
    @media screen and (max-width: $break-large) {
      position: relative;
      font-size: 20px;
      top: 10px; 
  }
}

.telephoneInput {
    size: 10px;
    width: 100%;
}

.intl-tel-input {
    width: 100%;
    font-size: 20px;
}
input {
    width: 100%;
    padding: 5px;
}
.btn-success {
    margin-top: 20px;
}

.textBlock {
    text-align: center;
    margin: 0 auto;
}

.successText {
    font-size: 50px;
    color: white;
    font-weight: 400;
}

.subtitleSuccess {
    font-size: 20px;
    color: white;
    font-weight: 400;
}

.line {
  display: none;
}


