$break-small: 575px;
$break-tablet: 769px;
$break-large: 1025px;

.backgroundNew {
    -webkit-filter: grayscale(40%);
    height: 100vh;
    margin-top: -6px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    
    @media screen and (max-width: $break-large) {
      width: 100vw;
  }
}

.tripSendText {
    font-family: 'Catamaran', sans-serif;
    font-size: 56px;
    line-height: 64px;
    color: #404348;
    font-weight: 800;
    // text-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);
    /*@media screen and (max-width: $break-large) {
      display: block;
      font-size: 30px;
      padding: 0px 64px 0px 64px;
    }*/
    @media screen and (max-width: $break-small) {
      font-size: 32px;
      line-height: 36px;
  }
}
.invalid-feedback {
  margin-bottom: 5px;
  margin-top: -5px; 
}

.subSendTripText {
  font-family: lato;
  font-size: 16px;
  line-height: 0px;
  color: #404348;
  font-weight: 500;
  margin-top: -24px;
  @media screen and (max-width: $break-large) {
    font-size: 15px;
    position: relative;
    top: 0px;
  }
  @media screen and (max-width: $break-small) {
    font-size: 15px;
    position: relative;
    top: 3px;
    width: 80%;
  }

}

.headerDiv {
  display: inline-block;
  padding: 24px 32px;
  width: 100vw;
  text-align: left;
  border-bottom: 1px solid #e9e9eb;
  @media screen and (max-width: $break-small) {
      padding: 24px;
  }
}

.formArea {
    padding: 48px 48px 48px 48px;
    width: 40%;
    height: 50%;
    text-align: center;
    background-color: white; 
    margin: auto;
    position: relative;

    @media screen and (max-width: $break-large) {
      padding: 20px;
      margin: 0;
      height: 50vh;
      width: 100vw;
      top: 20px !important
  }
    @media screen and (max-width: $break-large) {
    padding: 20px;
    margin: 0;
    height: 50vh;
    width: 100vw;
    top: 2px !important
}
}

.formAreaRight {
    max-width: 396px;
    margin: auto;
}

.textDivSend {
  position: relative;
  padding-top: 11vh;
  text-align: center;

  @media screen and (max-width: $break-large) {
    padding-top: 11vh;
 }
 @media screen and (max-width: $break-small) {
     padding-top: 6vh;
  }

}

/*.inputGroup1 {
  width: 50%;
  display: flex;
  text-align: right;
}

.inputGroup2 {
  width: 50%;
  display: flex;
}*/


.inputGroup {
    background-color: #fff;
    display: inline-block;
    margin: 6px 0;
    @media screen and (max-width: $break-large) {
      width: 40%;
      margin: 10px 0;
    }

    label {
      padding: 12px 24px 12px 40px;
      width: 100%;
      display: block;
      text-align: left;
      color: #3C454C;
      cursor: pointer;
      position: relative;
      z-index: 2;
      transition: color 200ms ease-in;
      overflow: hidden;
      
      &:before {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        content: '';
        // background-color: #5562eb;
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translate(-50%, -50%) scale3d(1, 1, 1);
        transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
        opacity: 0;
        z-index: -1;
      }

      &:after {
        width: 28px;
        height: 28px;
        content: '';
        border: 2px solid #D1D7DC;
        background-color: #fff;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
        background-repeat: no-repeat;
        background-position: 0px 1px;
        border-radius: 50%;
        z-index: 2;
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 200ms ease-in;
      }
    }

    input:checked ~ label {
    //   color: #fff;

      &:before {
        transform: translate(-50%, -50%) scale3d(56, 56, 1);
        opacity: 1;
      }

      &:after {
        background-color: #17ac61;
        border-color: #17ac61;
      }
    }

    input {
      width: 28px;
      height: 28px;
      order: 1;
      z-index: 2;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      visibility: hidden;
    }
  }

.form {
  padding: 0 16px;
  max-width: 550px;
  margin: 50px auto;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.radio-buttons {
    display: flex;
    margin: 6px 31% 0;
    align-self: center;
    @media screen and (max-width: $break-large) {
      display: flex;
      margin: 6px 0 0 105px;
    }
    @media screen and (max-width: $break-large) {
      display: flex;
      margin: 6px 0 0 80px;
    }
}

.whoText {
    font-family: catamaran; 
    font-weight: 800;
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 20px;
    padding-top: 28px;
    color: #404348;
    @media screen and (max-width: $break-large) {
      position: relative;
      font-size: 16px;
      top: 10px; 
  }
}

.telephoneInput {
    size: 10px;
    width: 100%;
}

.intl-tel-input {
    width: 100%;
    font-size: 20px;
}
input {
    width: 100%;
    padding: 5px;
}
.btn-success {
    margin-top: 20px;
}

.textBlock {
    text-align: center;
    margin: 0 auto;
}

.successText {
    font-family: catamaran;
    font-size: 44px;
    line-height: 56px;
    color: white;
    font-weight: 700;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.subtitleSuccess {
   font-family: lato;
   font-size: 16px;
   line-height: 0px;
    color: white;
    font-weight: 400;
   text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.line {
  display: none;
}

.form-control {
  display: block;
  width: 100%;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d3d5d8;
  transition: border-color ease-in-out .15s;
  padding: 24px 16px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  background-clip: padding-box;
  font-weight: 500;
  font-family: lato;
  margin-bottom: 12px;
}

.form-control:hover {
  border: 1px solid #17AC61;
}

.form-control:focus {
  border-color: #17AC61;
  box-shadow: inset 0 0px 0px #17AC61, 0 0 0px #17AC61;
}

.logoSuccess {
  position: fixed;
  margin-left: 24px;
  margin-top: 24px;
  content: url(../../../Icons/Tripsy_black.svg);
  color: black;
  fill: black;
  width: 12vh;
  @media screen and (max-width: $break-small) {
      position: absolute;
      margin-left: 24px;
      margin-top: 16px;
      width: 10vh;
  }
}

.helpIconSuccess {
  position: relative;
  z-index: 1;
  font-size: 16px;
  color: black;
  float: right;
  margin-right: 24px;
  margin-top: 24px;
  @media screen and (max-width: $break-small) {
      margin-right: 24px;
      margin-top: 16px;
  }
}

.helpIconSuccess:hover {
  cursor: pointer;
}

.helpwordSuccess {
  margin-left: 6px;
  vertical-align: center;
  font-size: 16px;
  color: black;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}
